<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{main}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:inline="text">
        [[${#httpServletRequest.remoteUser}]]</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" href="/applications" th:text="#{button.no-approve}"></a>
    </nav>
    <a class="btn btn-outline-primary" href="/logout" th:text="#{button.logout}"></a>

    <span th:text="#{lang.change}"></span>:
    <a class="btn btn-outline-primary" href="?lang=en" th:text="#{lang.eng}"></a>
    <a class="btn btn-outline-primary" href="?lang=ua" th:text="#{lang.ua}"></a>
</div>

<h1 th:text="#{greeting.main}"></h1>

<div th:each="el : ${applicationListFromDB}" class="alert alert-info mt-1">
    <div>
        <b th:text="${el.user.username}"></b><br><br>
        <span th:text="${el.startDate}"></span> -
        <span th:text="${el.finishDate}"></span><br>
        <i th:text="${el.room.number}"></i><br><br>
        <i th:text="${el.room.type}"></i><br><br>
        <i th:text="${el.room.capacity}"></i><br><br>

    </div>
</div>
</body>
</html>