<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1>
    <div class="container mt-5" th:text="#{greeting}"></div>
</h1>
<div class="container mt-5">
    Система Заказ гостиницы. Клиент заполняет Заявку, указывая
    количество мест в номере, класс апартаментов и время пребывания.
    Администратор просматривает поступившую Заявку, выделяет наиболее
    подходящий из доступных Номеров, после чего система выставляет Счет
    Клиенту
</div>


</body>
</html>