<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/internationalization.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 th:text="#{greeting}"></h1>

<div class="container mt-5 mb-5">
    <div th:if="${param.error}" th:text="#{login.error}"></div>
    <div th:if="${param.logout}" th:text="#{login.logout}"></div>

    <form name="f" th:action="@{/login}" method="post" onsubmit="return va;  lidate()">
        <div><label>
            <div th:text="#{login}"></div>
            <input type="text" name="username" class="form-control"/> </label></div>
        <div><label>
            <div th:text="#{password}"></div>
            <input type="password" name="password" class="form-control"/> </label></div>
        <div>
            <button name="submit" type="submit" class="btn btn-success" th:text="#{button.sign_in}"></button>
        </div>
    </form>
</div>
<a href="/registration">Registration</a>

<div th:insert="blocks/footer :: footer"></div>

<script type="text/javascript">
    function validate() {
        if (document.f.username.value == "" && document.f.password.value == "") {
            alert("Username and password are required");
            document.f.username.focus();
            return false;
        }
        if (document.f.username.value == "") {
            alert("Username is required");
            document.f.username.focus();
            return false;
        }
        if (document.f.password.value == "") {
            alert("Password is required");
            document.f.password.focus();
            return false;
        }
    }

</script>
</body>
</html>