<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{main}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><h1 th:inline="text">Hello
        [[${#httpServletRequest.remoteUser}]]!</h1></h5>
    <nav class="my-2 my-md-0 mr-md-3">

        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="/blog">Блог</a>
        <a class="p-2 text-dark" href="/blog/add">Добавить статью</a>
        <a class="p-2 text-dark" href="/about">Про нас</a>
    </nav>


    <a class="btn btn-outline-primary" href="/logout" th:text="#{button.logout}"></a>

    <span th:text="#{lang.change}"></span>:
    <a class="btn btn-outline-primary" href="?lang=en" th:text="#{lang.eng}"></a>
    <a class="btn btn-outline-primary" href="?lang=ua" th:text="#{lang.ua}"></a>
</div>

<div>
    <form method="post" action="/main">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="Введите тег"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="/filter">
    <input type="text" name="filter">

    <button type="submit">Найти</button>
</form>
<div th:each="el : ${messages}" class="alert alert-info mt-2">
    <div>
        <b th:text="${el.id}"></b>
        <span th:text="${el.text}"></span>
        <i th:text="${el.tag}"></i>
    </div>
</div>
</body>
</html>