<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{registration}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/internationalization.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<h1 th:text="#{registration.title}"></h1>
<div class="container mt-5 mb-5">

    <div th:each="el : ${message}" class="alert alert-info mt-2">
        <div>
            <b th:text="${el}"></b>
        </div>
    </div>
    <form action="/registration" method="post">
        <div><label>
            <label th:text="#{login}" for="username"></label>
            <input type="text" id="username" name="username" class="form-control"/> </label></div>
        <div><label>
            <label th:text="#{password}" for="password"></label>
            <input type="password" id="password" name="password" class="form-control"/> </label></div>
        <div>
            <button name="submit" type="submit" class="btn btn-success" th:text="#{button.sign_in}"></button>
        </div>
    </form>
</div>
</body>
</html>