<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.order}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1 th:text="#{page.title.order}"></h1>
    <div th:each="el : ${room}" class="alert alert-info mt-3">
        <h3><b th:text="#{page.room.number}"></b> <span th:text="${el.number}"/></h3>
        <p><b th:text="#{page.room.capacity}"></b> <span th:text="${el.capacity}"/></p>
        <p><b th:text="#{page.room.type}"></b> <span th:text="${el.type}"/></p>
        <!--        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>-->
        <form th:method="post" th:action="'/room/' + ${el.id}">
            <label for="start_date" th:text="#{page.room.from_date}"></label>
            <input type="date" id="start_date" name="startDate">
            <label for="finish_date" th:text="#{page.room.finish_date}"></label>
            <input type="date" id="finish_date" name="finishDate">
            <div>
                <button name="submit" type="submit" class="btn btn-success" th:text="#{page.title.order}"></button>
            </div>
        </form>

    </div>


</div>
</body>
</html>